{% load static %}

<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo ml-3" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" class="mr-2" alt="CSR Automation"/></a>
        
        <a class="navbar-brand brand-logo-mini" href="#"><img src="{% static 'images/logo-mini.png' %}" alt="logo"/></a>
        <!-- <a class="navbar-brand brand-logo-mini" href="#"><img src="{% static 'images/logo-mini.svg' %}" alt="logo"/></a> -->
      </div>

      
      <div class="b-l-1 navbar-menu-wrapper d-flex align-items-center justify-content-end">
      {% if user.is_authenticated %}
       
        {% if user.is_superuser %}
            <ul class="navbar-nav mr-lg-2 menu__">
              <li>
                <a href="{% url 'home' %}">
                  <i class="icons__ proj__"></i>
                  <span>PROJECTS</span> 
                </a> 
              </li>
              <li>
                <a href="{% url 'get_all_users_details' %}">
                  <i class="icons__  user__"></i>
                  <span>USERS</span> 
                </a> 
              </li>
              <li>
                <a href="{% url 'global_csr_upload' %}">
                  <i class="icons__ uplo__" ></i>
                  <span>UPLOAD CSR</span> 
                </a> 
              </li> 

              <li>
                <a href="{% url 'manage_protocol_template' %}">
                  <i class="icons__ uplo__" ></i>
                  <span>Manage Protocol</span> 
                </a> 
              </li>             

          </ul>

        {% elif user.user_role.role == 'Global User' %}

          <ul class="navbar-nav mr-lg-2 menu__">
              <li>
                <a href="{% url 'home' %}">
                  <i class="icons__ proj__"></i>
                  <span>PROJECTS</span> 
                </a> 
              </li>
              <li>
                <a href="{% url 'display_global_csr_mapping' %}">
                  <i class="icons__ mapping__"></i>
                  <span>Global CSR Mapping</span> 
                </a> 
              </li>               
          </ul>

          {% elif user.user_role.role == 'CSR User' %}

          <ul class="navbar-nav mr-lg-2 menu__">
              <li>
                <a href="{% url 'home' %}">
                  <i class="icons__ proj__"></i>
                  <span>PROJECTS</span> 
                </a> 
              </li>
              <li>
                <a href="{% url 'display_global_csr_mapping' %}">
                  <i class="icons__ mapping__"></i>
                  <span>Global CSR Mapping</span> 
                </a> 
              </li>               
          </ul>

          {% elif user.user_role.role == 'eProtocol User' %}

          <ul class="navbar-nav mr-lg-2 menu__">
              <li>
                <a href="{% url 'home' %}">
                  <i class="icons__ proj__"></i>
                  <span>PROJECTS</span> 
                </a> 
              </li>
                            
          </ul>

        {% endif %}
        <ul class="navbar-nav navbar-nav-right ">
          
          <li class="nav-item clr__w">Welcome {{ user.username }} 
            {% if user.is_superuser %}
              (Admin)
            {% else %}
              ({{ user.user_role.role }})
            {% endif %}
            <br>
            {{ user.last_login }}
          </li>
          
          {% if user.is_superuser %}

            <li class="gap-r-10 ">
            <div class="dropdown_settings">
               <a  class="settings"> 
              <img src="{% static 'images/settings.png'%}" class="profile-circle"/>
              </a>
              <div class="submenu" style="display: none; ">
              <ul class="root">
              <li >
                <a href="{% url 'audit_log' user.id %}">Audit Log</a> 
              </li>
              <li >
              <a href="{% url 'activity_log' user.id %}">Activity Log</a>
              </li>
              <li >
              <a data-href="{% url 'email_configuration' %}" id="email_configuration_link" data-target="#email_configuration_modal" data-toggle="modal">Email Configuration</a> 
              </li>
              <li>
              <a href="{% url 'mail_logs' %}">Email Log</a> 
              </li>
              <li >
              <a href="{% url 'display_logging' %}">App Log</a>
              </li>
              <li>
              <a data-href="{% url 'change_password' %}" class=" " id="change_password_link" data-target="#change_password_modal" data-toggle="modal"> Change Password 
            </a>
              </li>
              </ul>
              </div>

            </div>
          </li>

          {% else %}


            <li class="gap-r-10 ">
            <div class="dropdown_settings">
               <a  class="settings"> 
              <img src="{% static 'images/settings.png'%}" class="profile-circle"/>
              </a>
              <div class="submenu" style="display: none; ">
              <ul class="root">
              <!-- <li >
                <a href="{% url 'audit_log' user.id %}">Audit Log</a> 
              </li> -->
              <li>
              <a href="{% url 'activity_log' user.id %}">Activity Log</a>
              </li>
              
              <li>
              <a data-href="{% url 'change_password' %}" class="" id="change_password_link" data-target="#change_password_modal" data-toggle="modal"> Change Password 
            </a>
              </li>
              </ul>
              </div>

            </div>
          </li>

          {% endif %}

          


            </a>
      <li class="gap-r-10 ">
            <!-- <a data-href="{% url 'change_password' %}" class="change_password" id="change_password_link" data-target="#change_password_modal" data-toggle="modal"> 
            </a> -->
          </li>
          <li><a href="{% url 'logout' %}" class="logout__"><i class="ti-power-off "></i></a></li>

        </ul>
       <!--  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="ti-view-list"></span>
        </button> -->

      
      {% endif %}

      </div>
    </nav>