{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CSR Automation</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'fonts/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <style type="text/css">.navbar {display: none !important;}</style>
</head>

  <body>

    <div class="container-scroller">
           


<div class="container-fluid page-body-wrapper logn_bg"> 

      <div class="main-panel h-100">
        <div class="content-wrapper">
  
          <div class="row">
            <div class="col-md-4 m-auto">
                
                     <div class="form___ wt_bg m-t-1">
                      <form method="POST">
                        {% csrf_token %}

                    
                      
                      <h2>Set Password</h2>
                      
                          <div class="form_wrp">
                            
                            <label for="id_new_password1">New password</label>
                            <input type="password" class="form-control" name="new_password1" required id="id_new_password1">
                            {% for error in form.new_password1.errors %}

                            <i class="red-text text-darken-2"><font color="red">{{ error }}</font></i>

                            {% endfor %}
                             
                        <div class="proj__info">
                            <label for="id_new_password2">New password confirmation</label>
                            <input type="password" class="form-control" name="new_password2" required id="id_new_password2">
                            {% for error in form.new_password2.errors %}

                            <i class="red-text text-darken-2"><font color="red">{{ error }}</font></i>

                            {% endfor %}
                        </div>

                          </div> 
                          
                           <div class="form_wrp">
                              <button class="frm_btn__ m-w-full" type="submit">SET</button>

                           </div>

                      </div>
              </div>
              </form>
          </div>
    
        </div>
        <!-- content-wrapper ends -->
 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
