<form  method="POST" data-url="{% url 'change_password' %}" class="change_password_form">
	
  {% csrf_token %}

  <div class="modal-header">

    <h5 class="modal-title" id="change_password_modalLabel">Change Password</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    
  </div>
  
  <div class="modal-body">

    <div class="form_wrp">
                          
      <label for="id_old_password">Old password</label>
      <input type="password" class="form-control" name="old_password" autofocus required id="id_old_password">
      {% for error in form.old_password.errors %}

        <i class="red-text text-darken-2"><font color="red">{{ error }}</font></i>

      {% endfor %}
       
      <div class="proj__info">
        <label for="id_new_password1">New password </label>
        <input type="password" class="form-control" name="new_password1" required id="id_new_password1">
        {% for error in form.new_password1.errors %}

          <i class="red-text text-darken-2"><font color="red">{{ error }}</font></i>

        {% endfor %}
      </div>

      <div class="proj__info">
        <label for="id_new_password2">New password confirmation</label>
        <input type="password" class="form-control" name="new_password2" required id="id_new_password2">
        {% for error in form.new_password2.errors %}

          <i class="red-text text-darken-2"><font color="red">{{ error }}</font></i>

        {% endfor %}

      </div>

      <i id="error_reason" class="text-danger txt__alert"></i>

    </div>


  </div>

  <div class="modal-footer">
    <button type="submit" class="frm_btn__">Save changes<span class="spinner-border spinner-border-sm" id="spin_loader" style="display: none" role="status" aria-hidden="true"></span></button>
  </div>
    
</form>