{% if config != None %}

  <form  method="POST" data-url="{% url 'add_user' %}" class="create_user_form">

    {% csrf_token %}

    <div class="modal-header">
      <h5 class="modal-title" id="create_user_modalLabel">Add User</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="form_wrp">
        
        <select name="user_role" class="form-control" id="id_user_role" required>

          <option value="" selected>Select Role</option>
          <option value="Global User" {% if form.data.user_role.role == 'Global User' %} selected {% endif %}>Global User</option>
          <option value="CSR User" {% if form.data.user_role.role == 'CSR User' %} selected {% endif %}>CSR User</option>
          <option value="eProtocol User" {% if form.data.user_role.role == 'eProtocol User' %} selected {% endif %}>eProtocol User</option>

        </select>
      </div>
       
      <div class="form_wrp">
      <input type="text" class="input_cn" placeholder="Enter User Name" name="username" maxlength="50" autofocus required id="id_username" minlength='3' pattern="[A-Za-z0-9]+" title="contains only [A-Za-z0-9]" value="{{ form.data.username }}">
      <small class="text-danger">{{ form.errors.username | striptags }}</small>
      </div>

      <div class="row">
        <div class="form_wrp col-sm">
        <input type="text" class="input_cn" placeholder="First Name" name="first_name" maxlength="30" required id="id_first_name" value="{{ form.data.first_name }}">
        <small class="text-danger">{{ form.errors.first_name | striptags }}</small>
        </div>
        <div class="form_wrp col-sm">
          <input type="text" class="input_cn" placeholder="Last Name" name="last_name" maxlength="30" required id="id_last_name" value="{{ form.data.last_name }}">
          <small class="text-danger">{{ form.errors.last_name | striptags }}</small>
          </div>
      </div>

      
      <div class="form_wrp">
      <input type="tel" class="input_cn" placeholder="Mobile Number" name="phone" maxlength="10" required id="id_phone" pattern="^\d{10}$" title="Mobile number with 10 digits (xxxxxxxxxx)" value="{{ form.data.phone }}">
      <small class="text-danger">{{ form.errors.phone | striptags }}</small>
      </div>

      <div class="form_wrp">
      <input type="email"class="input_cn" placeholder="Enter Email" name="email" maxlength="254" required id="id_email" value="{{ form.data.email }}">
      <small class="text-danger">{{ form.errors.email | striptags }}</small>
      </div>

      

    </div>
    <div class="modal-footer">

      <button type="submit" class="frm_btn__">Save changes <span class="spinner-border spinner-border-sm" id="spin_loader" style="display: none" role="status" aria-hidden="true"></span></button>
    </div>
      
  </form>

{% else %}

  <div class="modal-header">
      <h3 class="modal-title" id="create_user_modalLabel" style="color: red;">Sorry!</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <span>There is no Email Configurations. Please contact Admin.</span>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
  </div>


{% endif %}

