{% extends 'base.html' %}

{% block content %}

<style type="text/css">.navbar {display: none !important;}</style>
<div class="container-fluid page-body-wrapper logn_bg"> 

    <div class="main-panel h-100">
        <div class="content-wrapper">
  
        	<div class="row">
	            <div class="col-md-4 m-auto">
	                <div class="form___ wt_bg m-t-1">

	                    <form method="POST" id="forgot_pass_form" action="{% url 'forgot_password' %}">
	                        {% csrf_token %}

	                      
	                      	<h2>Forgot Password?</h2>
	                      	<h6>Enter your registered email to reset password </h6>

	                      	<div class="form_wrp">

                            <div id='forgot_pass_alert'>
                            {% if messages  %}
                              {% for message in messages %}

                                {% if message.tags == 'success' %}

                                  <p class="text-success">{{ message }}</p>

                                {% else %}

                                  <p class="text-danger">{{ message }}</p>

                                {% endif %}

                              {% endfor %}
                            {% endif %}
                           </div>
                           
	                      	  <div class="proj__info">

                            	<input class="input_cn" type="email"  placeholder="Email" name="email" required id="id_email">
                            	
                        	 </div>
                          </div>
	                        <div class="form_wrp">
                              <button class="frm_btn__ m-w-full" type="submit">Reset</button>
                           </div>

                           
	                      
	              
	              		</form>

	          		</div>
	        	</div>
      		</div>
      
    	</div>
    </div>
</div>

{% endblock %}