{% if user.is_superuser %}

    {% if audit_logs %}

        <table class="table table-hover table-striped table-bordered tbl_mx" id="audit_logs">
            <thead class="thead-dark">
                <tr>

                <th class="no-sort">Action</th>
                <th class="no-sort">Changed From</th>
                <th class="no-sort">Changed To</th>
                <th class="no-sort">Changed By</th>
                <th>Changed On</th>
                
                </tr>
            </thead>
            <tbody>
                {% for log in audit_logs %}

                    <tr>
                        
                        <td>{{ log.action }}</td>
                        <td>{{ log.previous_state }}</td>
                        <td>{{ log.current_state }}</td>
                        <td>{{ log.user.username }}</td>
                        <td>{{ log.timestamp }}</td>
                        
                    </tr>

                {% endfor %}
                
            </tbody>
        </table>

        
        
    {% else %}

        <div class="no_res"> No Result Found </div>

    {% endif %}

{% else %}

    {% if audit_logs %}

        <table class="table table-hover table-striped table-bordered tbl_mx" id="audit_logs">
            <thead class="thead-dark">
                <tr>

                <th>Project Name</th>
                <th class="no-sort">Action</th>
                <th class="no-sort">Changed From</th>
                <th class="no-sort">Changed To</th>
                <th class="no-sort">Changed By</th>
                <th>Changed On</th>
                
                </tr>
            </thead>
            <tbody>
                {% for log in audit_logs %}

                    <tr>

                        <td>{{ log.project.project_name }}</td>
                        <td>{{ log.action }}</td>
                        <td>{{ log.previous_state }}</td>
                        <td>{{ log.current_state }}</td>
                        <td>{{ log.user.username }}</td>
                        <td>{{ log.timestamp }}</td>
                        
                    </tr>

                {% endfor %}
                
            </tbody>
        </table>

    {% else %}

        <div class="no_res"> No Result Found </div>

    {% endif %}

{% endif %}