{% extends 'base.html' %}

{% block content %}
	
	<div class="container page-body-wrapper">
		<div class="main-panel">
        	<div class="content-wrapper">

          		<div class="row">
            		<div class="col-md-12 grid-margin">
              			<div class="d-flex justify-content-between align-items-center">
                			<div>
                  				<h4 class="mb-0 breadcrumb_">Audit Log</h4>
                    			<a href="{% url 'home' %}" class="bread__lnk">Home </a> / <label class="bread__lnk" id="activity_log_user_bread">{{ user.username }}</label>
                			</div>
                			
            			</div>
        			</div>
    			</div>

    			

    			<div class="row">
            		<div class="col-md-12 grid-margin stretch-card" id="activity_log_data">
                        
                        {% if audit_logs %}

                            <table class="table table-hover table-striped table-bordered tbl_mx">
                                <thead class="thead-dark">
                                    <tr>
                                    <th>Action</th>
                                    <th>Changed From</th>
                                    <th>Changed To</th>
                                    <th>Changed By</th>
                                    <th>Changed On</th>
                                    <!-- <th>Host Address</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in audit_logs %}

                                        <tr>
                                            <!-- <td></td>                                             -->
                                            <td>{{ log.action }}</td>
                                            <td>{{ log.previous_state }}</td>
                                            <td>{{ log.current_state }}</td>
                                            <td>{{ log.user.username }}</td>
                                            <td>{{ log.timestamp }}</td>
                                            <!-- <td>{{ log.ip }}</td> -->
                                        </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        {% else %}

                            <div class="no_res"> No Result Found </div>

                        {% endif %}
                        
            	
            		</div>
            	</div>

            	

			</div>
		</div>
	</div>



{% endblock %}