{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid page-body-wrapper"> 
	<div class="main-panel">
	  <div class="content-wrapper">

	  	<div class="row">
		  <div class="col-md-12 grid-margin">
			<div class="d-flex justify-content-between align-items-center">

				<div>
					<h4 class="mb-0 breadcrumb_">Projects</h4>
				  	<a href="{% url 'home' %}" class="bread__lnk">Home </a> / <label class="bread__lnk">Projects</label>
			  	</div>

			  	<div>
			   		<button type="button" class="new_sub create__prj" data-href="{% url 'create_eprotocol' user.id %}" data-toggle="modal" data-target="#create_eprotocol_modal" id="eprotocol_create_form">
					<i class="btn__icons creproj__"></i>
			  
			  		<span>Create Project</span>
					</button>
		  		</div>

			</div>
		  </div>
		</div>

		<div class="row">
			<div class="col-md-12 grid-margin stretch-card">
				<table class="table table-hover table-striped table-bordered no-footer" id="eprotocol_projects_tbl">
					<thead class="thead-dark"><tr>
		      		<th>Project Code</th>
		      		<th>Protocol Name</th>
		      		<th>Therapeutic Area</td>
		      		<th>Sub Speciality</th>
		      		<th>Update On</th>
		      		<th class="no-sort">Created By</th>
		      		<th class="no-sort">Action</th>
		      		</tr></thead>
		      		<tbody id="id_user_eprotocols">
		      			{% for each in protocol_projects %}
		      				<tr>
		      					<td><a href="{% url 'eprotocol_dashboard' each.eProtocolproject.id %}">{{ each.eProtocolproject.code }}</a></td>
								<td>{{ each.eProtocolproject.name }}</td>
								<td>{{ each.eProtocolproject.therapeutic_area.therapeutic_area }}</td>
								<td>{{ each.eProtocolproject.sub_speciality }}</td>
								<td>{{ each.eProtocolproject.updated_on|date:"d/m/Y H:i:s" }}</td>
								<td>{{ each.eProtocolproject.created_by }}</td>
								<td>
									<a class="update-eprotocol" data-url="{% url 'edit_eprotocol' each.eProtocolproject.id %}">
								  	<img src="{% static 'images/edit__ic.png' %}" alt="" />
									</a>
								</td>
		      				</tr>
		      			{% endfor %}
		      		</tbody>
				</table>
			</div>
		</div>


	<!-- Create eProtocol Modal -->
	<div class="modal fade" id="create_eprotocol_modal" tabindex="-1" role="dialog" aria-labelledby="create_eprotocol_modalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		</div>
	  </div>
	</div>
	<!-- Edit eProtocol Modal -->
  	<div class="modal fade" id="edit_eprotocol_modal" tabindex="-1" role="dialog" aria-labelledby="edit_eprotocol_modalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
	  	<div class="modal-content">
	  	</div>
		</div>
  	</div>

	  </div>
	</div>
</div>
		
  
{% endblock %}