{% extends 'admin_home.html' %}


{% block admin_content %}
	
	<div class="container page-body-wrapper"> 
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="mb-0 breadcrumb_">Upload CSR</h4>
                    <a href="{% url 'home' %}" class="bread__lnk">Home </a> / <label class="bread__lnk">Upload CSR</label>
                </div>
                <div>
                	{% if csr_doc_latest != None and protocol_doc_latest != None and sar_doc_latest != None %}

		  				<a href="{% url 'csr_mapping' %}">
		  				<button type="button" class="new_sub create__prj r-ali">Map CSR</button></a>
		  			{% else %}
		  				<button type="button" class="new_sub create__prj r-ali" id="disabled-map-csr-admin-btn">Map CSR</button>
		  		  	{% endif %}
                </div>
              </div>
            </div>
          </div>

	<!-- <div class="row"> -->

		<div>
	    	
	    <ul class="nav nav-tabs" id="myTab" role="tablist">
	  		<li class="nav-item">
			    <a class="nav-link active" id="csr-tab" data-toggle="tab" href="#csr" role="tab" aria-controls="csr" aria-selected="true">CSR</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="protocol-tab" data-toggle="tab" href="#protocol" role="tab" aria-controls="protocol" aria-selected="false">Protocol</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="sar-tab" data-toggle="tab" href="#sar" role="tab" aria-controls="sar" aria-selected="false">SAR</a>
			</li>
			<!-- <li class="nav-item">
			    <a class="nav-link" id="map-csr-tab" data-toggle="tab" href="#map-csr" role="tab" aria-controls="map-csr" aria-selected="false">MAP CSR</a>
			</li> -->
		</ul>


		<div class="tab-content" id="myTabContent">

		  	<div class="tab-pane fade show active" id="csr" role="tabpanel" aria-labelledby="csr-tab">
		  		<button type="button" class="new_sub create__prj r-ali" data-href="{% url 'upload_csr_admin' %}" data-toggle="modal" data-target="#upload_csr_admin_modal" id="upload_csr_admin_form"> <i class="ti-upload"></i> <span>Upload CSR</span></button>

		  		{% if csr_doc_latest %}
		  		  <table class="table table-hover table-striped table-bordered">
		  		<!-- <table class="table table-white"> -->
		  			<thead class="thead-dark">
		  				<tr>
			  				<th>Latest Version</th>
			  				<th>Uploaded By</th>
			  				<th>Uploaded On</th>
			  				<th>Remarks</th>
			  				<th>Other Versions</th>
			  			</tr>
		  			</thead>
		  			<tbody>
		  				<tr>
		  					<td>
		  						<a class="link_grid" href="{% url 'download' csr_doc_latest.csr_template_location.path %}" target="_blank">Version {{ csr_doc_latest.version_no }} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a></td>
		  					<td>{{ csr_doc_latest.created_by }}</td>
		  					<td>{{ csr_doc_latest.created_on }}</td>
		  					<td>{{ csr_doc_latest.comments }}</td>
		  					<td>
		  						{% if csr_doc_list %}

		  						<a href="" data-toggle="modal" data-target="#other_csr_version_admin_modal">Other Versions</a>
		  						<!-- csr other versions modal -->
		  						<div class="modal fade" id="other_csr_version_admin_modal" tabindex="-1" role="dialog" aria-hidden="true">
							        <div class="modal-dialog" role="document">
							        	<div class="modal-content">
							        		
											<div class="modal-header">
												<h5 class="modal-title">CSR Documents</h5>
											    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											    <span aria-hidden="true">&times;</span>
											    </button>
											</div>
											<div class="modal-body">

												  <table class="table table-hover table-striped table-bordered">
													<thead class="thead-dark">
														<tr>
															<th>Versions</th>
															<th>Uploaded By</th>
															<th>Uploaded On</th>
														</tr>
													</thead>
													<tbody>
														{% for i in csr_doc_list %}
														<tr>
															<td><a class="link_grid" href="{% url 'download' i.csr_template_location.path %}" target="_blank">{{ i.version_no }}</a></td>
															<td>{{ i.created_by }}</td>
															<td>{{ i.created_on }}</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>

											</div>
							          	</div>
							        </div>
							    </div>

		  						{% else %}
		  							Not Available
		  						{% endif %}
		  					</td>
		  				</tr>
		  			</tbody>
		  		</table>

		  		{% else %}
		  			<div class="no_res"> No Documents Available</div>
		  		{% endif %}

		  		

		  	</div>

		  	<div class="tab-pane fade" id="protocol" role="tabpanel" aria-labelledby="protocol-tab">
		  			<button type="button" class="new_sub create__prj r-ali" data-href="{% url 'upload_protocol_admin' %}" data-toggle="modal" data-target="#upload_protocol_admin_modal" id="upload_protocol_admin_form"> <i class="ti-upload"></i> Upload Protocol</button>
		  		{% if protocol_doc_latest %}
		  		  <table class="table table-hover table-striped table-bordered">
		  			<thead class="thead-dark">
		  				<tr>
			  				<th>Latest Version</th>
			  				<th>Uploaded By</th>
			  				<th>Uploaded On</th>
			  				<th>Remarks</th>
			  				<th>Other Versions</th>
			  			</tr>
		  			</thead>
		  			<tbody>
		  				<tr>
		  					<td>
		  						<a class="link_grid" href="{% url 'download' protocol_doc_latest.protocol_template_location.path %}" target="_blank">Version {{ protocol_doc_latest.version_no }} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a></td>
		  					<td>{{ protocol_doc_latest.created_by }}</td>
		  					<td>{{ protocol_doc_latest.created_on }}</td>
		  					<td>{{ protocol_doc_latest.comments }}</td>
		  					<td>
		  						{% if protocol_doc_list %}

		  							<a href="" data-toggle="modal" data-target="#other_protocol_version_admin_modal">Other Versions</a>
		  							<!-- Protocol other versions modal -->
			  						<div class="modal fade" id="other_protocol_version_admin_modal" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog" role="document">
								        	<div class="modal-content">
								        		
												<div class="modal-header">
													<h5 class="modal-title">Protocol Documents</h5>
												    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												    <span aria-hidden="true">&times;</span>
												    </button>
												</div>
												<div class="modal-body">

													 <table class="table table-hover table-striped table-bordered">
		  			<thead class="thead-dark">
															<tr>
																<th>Versions</th>
																<th>Uploaded By</th>
																<th>Uploaded On</th>
															</tr>
														</thead>
														<tbody>
															{% for i in protocol_doc_list %}
															<tr>
								<td>
									<a class="link_grid" href="{% url 'download' i.protocol_template_location.path %}" target="_blank">{{ i.version_no }}</a>
								</td>
																<td>{{ i.created_by }}</td>
																<td>{{ i.created_on }}</td>
															</tr>
															{% endfor %}
														</tbody>
													</table>

												</div>
								          	</div>
								        </div>
								    </div>

		  						{% else %}
		  							Not Available
		  						{% endif %}
		  					</td>
		  				</tr>
		  			</tbody>
		  		</table>

		  		{% else %}
		  			<div class="no_res"> No Documents Available</div>
		  		{% endif %}

		  	

		  	</div>
		  	<div class="tab-pane fade" id="sar" role="tabpanel" aria-labelledby="sar-tab">

		  <button type="button" class="new_sub create__prj r-ali" data-href="{% url 'upload_sar_admin' %}" data-toggle="modal" data-target="#upload_sar_admin_modal" id="upload_sar_admin_form"><i class="ti-upload"></i> Upload SAR</button>
		  		{% if sar_doc_latest %}
		  		 <table class="table table-hover table-striped table-bordered">
		  			<thead class="thead-dark">
		  				<tr>
			  				<th>Latest Version</th>
			  				<th>Uploaded By</th>
			  				<th>Uploaded On</th>
			  				<th>Remarks</th>
			  				<th>Other Versions</th>
			  			</tr>
		  			</thead>
		  			<tbody>
		  				<tr>
		  					<td>
		  						<a href="{% url 'download' sar_doc_latest.sar_template_location.path %}" target="_blank">Version {{ sar_doc_latest.version_no }} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a></td>
		  					<td>{{ sar_doc_latest.created_by }}</td>
		  					<td>{{ sar_doc_latest.created_on }}</td>
		  					<td>{{ sar_doc_latest.comments }}</td>
		  					<td>
		  						{% if sar_doc_list %}

		  							<a  class="link_grid" href="" data-toggle="modal" data-target="#other_sar_version_admin_modal">Other Versions</a>
		  							<!-- SAR other versions modal -->
			  						<div class="modal fade" id="other_sar_version_admin_modal" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog" role="document">
								        	<div class="modal-content">
								        		
												<div class="modal-header">
													<h5 class="modal-title">SAR Documents</h5>
												    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												    <span aria-hidden="true">&times;</span>
												    </button>
												</div>
												<div class="modal-body">

												 <table class="table table-hover table-striped table-bordered">
		  			<thead class="thead-dark">
															<tr>
																<th>Versions</th>
																<th>Uploaded By</th>
																<th>Uploaded On</th>
															</tr>
														</thead>
														<tbody>
															{% for i in sar_doc_list %}
															<tr>
																<td><a  class="link_grid" href="{% url 'download' i.sar_template_location.path %}" target="_blank">{{ i.version_no }}</a></td>
																<td>{{ i.created_by }}</td>
																<td>{{ i.created_on }}</td>
															</tr>
															{% endfor %}
														</tbody>
													</table>

												</div>
								          	</div>
								        </div>
								    </div>

		  						{% else %}
		  							Not Available
		  						{% endif %}
		  					</td>
		  				</tr>
		  			</tbody>
		  		</table>

		  		{% else %}
		  			<div class="no_res"> No Documents Available</div>
		  		{% endif %}

		  		

		  	</div>
		  	<!-- <div class="tab-pane fade" id="map-csr" role="tabpanel" aria-labelledby="map-csr-tab">
		  		
		  		 
		  		{% if csr_doc_latest != None and protocol_doc_latest != None and sar_doc_latest != None %}

		  			<a href="{% url 'csr_mapping' %}">
		  				<button type="button" class="new_sub create__prj r-ali">Map CSR</button></a>

		  		{% else %}

		  		<p>Please Upload all required documents......</p>

		  		{% endif %}
		  		<div class="clearfix"></div>
		  	</div> -->

		</div>

		

	</div>


	<!-- Upload CSR Modal -->
	<div class="modal fade" id="upload_csr_admin_modal" tabindex="-1" role="dialog" aria-labelledby="upload_csr_admin_modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        	<div class="modal-content">
          	</div>
        </div>
    </div>
    <!-- Upload Protocol Modal -->
	<div class="modal fade" id="upload_protocol_admin_modal" tabindex="-1" role="dialog" aria-labelledby="upload_protocol_admin_modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        	<div class="modal-content">
          	</div>
        </div>
    </div>
    <!-- Upload SAR Modal -->
	<div class="modal fade" id="upload_sar_admin_modal" tabindex="-1" role="dialog" aria-labelledby="upload_sar_admin_modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        	<div class="modal-content">
          	</div>
        </div>
    </div>


{% endblock %}