{% extends 'base.html' %}

{% load static %}

{% block content %}
	
<div class="container page-body-wrapper">
  	<div class="main-panel">
    	<div class="content-wrapper">

    		<div class="row">
	        	<div class="col-md-12 grid-margin">
	          		<div class="d-flex justify-content-between align-items-center">

			            <div>
			              <h4 class="mb-0 breadcrumb_">Upload CSR</h4>
			                <a href="{% url 'home' %}" class="bread__lnk">Home </a> / <label class="bread__lnk">Upload CSR</label>
			            </div>

			            <div>
			            	{% if csr_doc_latest != None and protocol_doc_latest != None or sar_doc_latest != None %}

				  				<a href="{% url 'csr_mapping' %}">
				  				<button type="button" class="new_sub create__mapcsr r-ali">Map CSR</button></a>

				  				<!-- <button type="button" class="new_sub create__mapcsr r-ali" id="enabled-map-csr-admin-btn" data-href="{% url 'csr_mapping' %}">Map CSR</button> -->
				  			{% else %}
				  				<button type="button" class="new_sub create__mapcsr r-ali" id="disabled-map-csr-admin-btn">Map CSR</button>
				  		  	{% endif %}
			            </div>

	          		</div>
	        	</div>
	     	</div>

	     	<div class="row">       
	     			<div class="col-md-12">
               	<table class="table table-hover table-striped table-bordered">

                 	<thead class="thead-dark">
                    	<tr>
                      		<th>Documents</th>
		                    <th>Current Version</th>
		                    <th>Uploaded By</th>
		                    <th>Uploaded On</th>
		                    <th>Remarks</th>
		                    <th>Other Versions</th>
		                    <th></th>
                    	</tr>
                  	</thead>
                  	<tbody>
                  		<tr>
                  			<td><b>Global CSR Template</b></td>
                  			{% if csr_doc_latest %}
                  				<td>
                  					<input type="hidden" name="" value="1" id="csr_doc_exist_or_not">
                  					<a class="link_grid link_w" href="{% url 'download' csr_doc_latest.csr_template_location.path %}" target="_blank">{{ csr_doc_latest.version_no }} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>
                  				</td>
                  				<td>{{ csr_doc_latest.created_by }}</td>
                  				<td>{{ csr_doc_latest.created_on }}</td>
                  				<td>{{ csr_doc_latest.comments }}</td>
                  				<td>
                  					{% if csr_doc_list %}

                  						<a href="" data-toggle="modal" data-target="#other_csr_version_admin_modal">Other Versions</a>

                  					{% else %}

                  						Not Available

                  					{% endif %}
                  				</td>

                  			{% else %}

                  				<td colspan="5">
                  					<input type="hidden" name="" value="0" id="csr_doc_exist_or_not">
                  				</td>

                  			{% endif %}
                  			<td>
                  				<button type="button" class="new_sub create__prj r-ali" data-href="{% url 'upload_csr_admin' %}" data-toggle="modal" data-target="#upload_csr_admin_modal" id="upload_csr_admin_form"> <i class="ti-upload"></i> <span>Upload</span></button>
                  			</td>
                  		</tr>

                  		<tr>
                  			<td><b>Protocol</b></td>
                  			{% if protocol_doc_latest %}
                  				<td>
                  					<input type="hidden" name="" value="1" id="protocol_doc_exist_or_not">
                  					<a class="link_grid link_w" href="{% url 'download' protocol_doc_latest.protocol_template_location.path %}" target="_blank">{{ protocol_doc_latest.version_no }} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>
                  				</td>
                  				<td>{{ protocol_doc_latest.created_by }}</td>
                  				<td>{{ protocol_doc_latest.created_on }}</td>
                  				<td>{{ protocol_doc_latest.comments }}</td>
                  				<td>
                  					{% if protocol_doc_list %}

                  						<a href="" data-toggle="modal" data-target="#other_protocol_version_admin_modal">Other Versions</a>

                  					{% else %}

                  						Not Available

                  					{% endif %}
                  				</td>

                  			{% else %}

                  				<td colspan="5">
                  					<input type="hidden" name="" value="0" id="protocol_doc_exist_or_not">
                  				</td>

                  			{% endif %}
                  			<td>
                  				<button type="button" class="new_sub create__prj r-ali" data-href="{% url 'upload_protocol_admin' %}" data-toggle="modal" data-target="#upload_protocol_admin_modal" id="upload_protocol_admin_form"> <i class="ti-upload"></i> <span>Upload</span></button>
                  			</td>
                  		</tr>

                  		<tr>
                  			<td><b>Statistical Analysis Report</b></td>
                  			{% if sar_doc_latest %}
                  				<td>
                  					<input type="hidden" name="" value="1" id="sar_doc_exist_or_not">
                  					<a class="link_grid link_w" href="{% url 'download' sar_doc_latest.sar_template_location.path %}" target="_blank">{{ sar_doc_latest.version_no }} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>
                  				</td>
                  				<td>{{ sar_doc_latest.created_by }}</td>
                  				<td>{{ sar_doc_latest.created_on }}</td>
                  				<td>{{ sar_doc_latest.comments }}</td>
                  				<td>
                  					{% if sar_doc_list %}

                  						<a  class="link_grid" href="" data-toggle="modal" data-target="#other_sar_version_admin_modal">Other Versions</a>

                  					{% else %}

                  						Not Available

                  					{% endif %}
                  				</td>

                  			{% else %}

                  				<td colspan="5">
                  					<input type="hidden" name="" value="0" id="sar_doc_exist_or_not">
                  				</td>

                  			{% endif %}
                  			<td>
                  				<button type="button" class="new_sub create__prj r-ali" data-href="{% url 'upload_sar_admin' %}" data-toggle="modal" data-target="#upload_sar_admin_modal" id="upload_sar_admin_form"><i class="ti-upload"></i>  <span>Upload</span></button>
                  			</td>
                  		</tr>
                  	</tbody>
              	</table>
</div>
          	</div>

		</div>
	</div>
</div>


<!-- Upload CSR Modal -->
<div class="modal fade" id="upload_csr_admin_modal" tabindex="-1" role="dialog" aria-labelledby="upload_csr_admin_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    	<div class="modal-content">
      	</div>
    </div>
</div>
<!-- Upload Protocol Modal -->
<div class="modal fade" id="upload_protocol_admin_modal" tabindex="-1" role="dialog" aria-labelledby="upload_protocol_admin_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    	<div class="modal-content">
      	</div>
    </div>
</div>
<!-- Upload SAR Modal -->
<div class="modal fade" id="upload_sar_admin_modal" tabindex="-1" role="dialog" aria-labelledby="upload_sar_admin_modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    	<div class="modal-content">
      	</div>
    </div>
</div>


<!-- csr other versions modal -->
<div class="modal fade" id="other_csr_version_admin_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		
			<div class="modal-header">
				<h5 class="modal-title">CSR Documents</h5>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			<div class="modal-body">

				  <table class="table table-hover table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Versions</th>
							<th>Uploaded By</th>
							<th>Uploaded On</th>
						</tr>
					</thead>
					<tbody>
						{% for i in csr_doc_list %}
						<tr>
							<td><a class="link_grid" href="{% url 'download' i.csr_template_location.path %}" target="_blank">{{ i.version_no }}</a></td>
							<td>{{ i.created_by }}</td>
							<td>{{ i.created_on }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
  		</div>
	</div>
</div>

<!-- Protocol other versions modal -->
<div class="modal fade" id="other_protocol_version_admin_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		
			<div class="modal-header">
				<h5 class="modal-title">Protocol Documents</h5>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			<div class="modal-body">

				<table class="table table-hover table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Versions</th>
							<th>Uploaded By</th>
							<th>Uploaded On</th>
						</tr>
					</thead>
					<tbody>
						{% for i in protocol_doc_list %}
						<tr>
							<td>
								<a class="link_grid" href="{% url 'download' i.protocol_template_location.path %}" target="_blank">{{ i.version_no }}</a>
							</td>
							<td>{{ i.created_by }}</td>
							<td>{{ i.created_on }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
  		</div>
	</div>
</div>

<!-- SAR other versions modal -->
<div class="modal fade" id="other_sar_version_admin_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		
			<div class="modal-header">
				<h5 class="modal-title">SAR Documents</h5>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			<div class="modal-body">

		 		<table class="table table-hover table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>Versions</th>
							<th>Uploaded By</th>
							<th>Uploaded On</th>
						</tr>
					</thead>
					<tbody>
						{% for i in sar_doc_list %}
							<tr>
								<td><a  class="link_grid" href="{% url 'download' i.sar_template_location.path %}" target="_blank">{{ i.version_no }}</a></td>
								<td>{{ i.created_by }}</td>
								<td>{{ i.created_on }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
  		</div>
	</div>
</div>



{% endblock %}