{% extends 'base.html' %}

{% load static %}

{% block content %}

	<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="row">
          <div class="col-md-12 nopads grid-margin">
            <div class="d-flex justify-content-between align-items-center">

              <div class="col-md-3 nopads">
                <a class="back_btn__" href="{% url 'home' %}"><i class="ti-arrow-left"></i></a>
                <h4 class="mb-0 breadcrumb_">{{ projects.project_name }}</h4>
                <a href="{% url 'home' %}" class="bread__lnk">Home </a> / <a href="{% url 'home' %}" class="bread__lnk">Projects </a> / <a href="{% url 'home' %}" class="bread__lnk">CSR </a> / <label class="bread__lnk">{{ projects.protocol_id }}</label>
              </div>
              
             

            </div>
          </div>
        </div>

       <div class="row">       

               <table class="table table-hover table-striped table-bordered ">

                  <thead class="thead-dark">
                    <tr>
                      <th>Documents</th>
                      <th>Current Version</th>
                      <th>Uploaded By</th>
                      <th>Uploaded On</th>
                      <th>Remarks</th>
                      <th>Other Versions</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      {% if custom_csr_doc_latest %}

                        <td><b>Custom CSR Template</b></td>
                        <td>

                            <a  class="link_grid link_w" href="{% url 'download' custom_csr_doc_latest.csr_template_location.path %}" target="_blank">{{ custom_csr_doc_latest.version_no }}</a>

                        </td>
                        <td>{{ custom_csr_doc_latest.created_by }}</td>
                        <td>{{ custom_csr_doc_latest.created_on }}</td>
                        <td>{{ custom_csr_doc_latest.comments }}</td>
                        <td>
                          {% if custom_csr_doc_list %}

                            <a href="" data-toggle="modal" data-target="#other_custom_csr_version_user_modal">Other Versions</a>

                          {% else %}

                            Not Available

                          {% endif %}
                        </td>


                      {% else %}

                        <td><b>Global CSR Template</b></td>
                        <td>
                          {% if csr_doc_latest %}

                            <a  class="link_grid link_w" href="{% url 'download' csr_doc_latest.csr_template_location.path %}" target="_blank">{{ csr_doc_latest.version_no }}</a>

                          {% endif %}
                        </td>
                        <td>{{ csr_doc_latest.created_by }}</td>
                        <td>{{ csr_doc_latest.created_on }}</td>
                        <td>{{ csr_doc_latest.comments }}</td>
                        <td>
                          {% if csr_doc_list %}

                            <a href="" data-toggle="modal" data-target="#other_csr_version_user_modal">Other Versions</a>

                          {% else %}

                            Not Available

                          {% endif %}
                        </td>

                      {% endif %}
                      <td style="text-align:center">
                        <button type="button" class="new_sub create__prj" data-href="{% url 'csr_upload' user.id projects.id %}" data-toggle="modal" data-target="#upload_csr_modal" id="upload_csr_form"><i class="ti-upload"></i><span> Upload</span></button>
                      </td>
                    </tr>

                    <tr>
                      {% if protocol_doc_latest %}

                        <td><b>Protocol</b></td>
                        <td>

                            <a  class="link_grid link_w" href="{% url 'download' protocol_doc_latest.protocol_document_location.path %}" target="_blank">{{ protocol_doc_latest.version_no }}</a>

                        </td>
                        <td>{{ protocol_doc_latest.created_by }}</td>
                        <td>{{ protocol_doc_latest.uploaded_on }}</td>
                        <td>{{ protocol_doc_latest.comments }}</td>
                        <td>
                          {% if protocol_doc_list %}

                            <a href="" data-toggle="modal" data-target="#other_protocol_version_user_modal">Other Versions</a>

                          {% else %}

                            Not Available

                          {% endif %}
                        </td>

                      {% else %}

                        <td><b>Protocol</b></td>
                        <td colspan="5"></td>
                         

                      {% endif %}
                      <td style="text-align:center">
                        <button type="button" class="new_sub create__prj" data-href="{% url 'protocol_file_upload' user.id projects.id %}" data-toggle="modal" data-target="#upload_protocol_modal" id="upload_protocol_form"><i class="ti-upload"></i><span> Upload</span></button>
                      </td>
                    </tr>
                    
                    <tr>
                      {% if sar_doc_latest %}

                        <td><b>SAR</b></td>
                        <td>

                            <a  class="link_grid link_w" href="{% url 'download' sar_doc_latest.sar_document_location.path %}" target="_blank">{{ sar_doc_latest.version_no }} 
                             <!--  <i class="ti-download ml-2"></i> -->
                            </a>

                        </td>
                        <td>{{ sar_doc_latest.created_by }}</td>
                        <td>{{ sar_doc_latest.uploaded_on }}</td>
                        <td>{{ sar_doc_latest.comments }}</td>
                        <td>
                          {% if sar_doc_list %}

                            <a href="" data-toggle="modal" data-target="#other_sar_version_user_modal">Other Versions</a>

                          {% else %}

                            Not Available

                          {% endif %}
                        </td>

                      {% else %}

                        <td><b>SAR</b></td>
                        <td colspan="5"></td>
                         

                      {% endif %}
                      <td style="text-align:center">
                        <button type="button" class="new_sub create__prj" data-href="{% url 'sar_file_upload' user.id projects.id %}" data-toggle="modal" data-target="#upload_sar_modal" id="upload_sar_form"><i class="ti-upload"></i><span> Upload</span></button>
                      </td>
                    </tr>

                    <tr>

                      <td><b>Clinical Study Report</b></td>

                      {% if csr_doc_latest != None and protocol_doc_latest != None or sar_doc_latest != None %}

                        {% if csr_report_latest %}

                          <td>

                              <a  class="link_grid link_w" href="{% url 'download' csr_report_latest.generated_report_path %}" target="_blank">{{ csr_report_latest.version_no }}</a>

                          </td>
                          <td>{{ csr_report_latest.created_by }}</td>
                          <td>{{ csr_report_latest.created_on }}</td>
                          <td>Generated</td>
                          <td>
                            {% if csr_report_list %}

                              <a href="" data-toggle="modal" data-target="#other_generated_csr_version_user_modal">Other Versions</a>

                            {% else %}

                              Not Available

                            {% endif %}
                          </td>

                        {% else %}

                          <td colspan="4" style="text-align: center;">
                            <h4>No report generated yet!</h4>
                          </td>

                        {% endif %}

                        <td colspan="2">

                          {% if custom_csr_doc_latest %}
                            <a href="{% url 'edit_csr_mapping' user.id projects.id %}">
                              <button type="button" class="assign__pro mr-2"><span>Edit Mapping</span></button>
                            </a>
                          {% else %}
                              <button type="button" class="assign__pro mr-2" id="disabled-edit-custome-csr-btn"><span>Edit Mapping</span></button>
                          {% endif %} 
                          <a data-href="{% url 'generate_csr' user.id projects.id %}" id="generate_csr_link" data-toggle="modal" data-target="#confirm_generate_csr_modal">
                            <button type="button"  class="assign__pro"><span>Generate CSR</span></button>
                          </a>

                        </td>



                      {% else %}

                        <td colspan="6" style="text-align: center;">
                           <h4> Please upload all the documents...</h4>
                        </td>


                      {% endif %}
                      

                    </tr>

                    

                  </tbody>
                 
               </table>

            
        </div>


      </div>
    </div>
  </div>

  <!-- Upload CSR Modal -->
  <div class="modal fade" id="upload_csr_modal" tabindex="-1" role="dialog" aria-labelledby="upload_csr_modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          </div>
      </div>
  </div>
  <!-- Upload Protocol Modal -->
  <div class="modal fade" id="upload_protocol_modal" tabindex="-1" role="dialog" aria-labelledby="upload_protocol_modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          </div>
      </div>
  </div>
  <!-- Upload SAR Modal -->
  <div class="modal fade" id="upload_sar_modal" tabindex="-1" role="dialog" aria-labelledby="upload_sar_modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          </div>
      </div>
  </div>


<!-- csr other versions modal -->
<div class="modal fade" id="other_csr_version_user_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
        <div class="modal-header">
          <h5 class="modal-title">Global CSR Documents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Versions</th>
                <th>Uploaded By</th>
                <th>Uploaded On</th>
              </tr>
            </thead>
            <tbody>
              {% for i in csr_doc_list %}
              <tr>
                <td><a class="link_grid" href="{% url 'download' i.csr_template_location.path %}" target="_blank">{{ i.version_no }}</a></td>
                <td>{{ i.created_by }}</td>
                <td>{{ i.created_on }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
    </div>
  </div>
</div>

<!-- Custom csr other versions modal -->
<div class="modal fade" id="other_custom_csr_version_user_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
        <div class="modal-header">
          <h5 class="modal-title">Custom CSR Documents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Versions</th>
                <th>Uploaded By</th>
                <th>Uploaded On</th>
              </tr>
            </thead>
            <tbody>
              {% if custom_csr_doc_list %}

                {% for i in custom_csr_doc_list %}

                <tr>
                  <td><a class="link_grid" href="{% url 'download' i.csr_template_location.path %}" target="_blank">{{ i.version_no }}</a></td>
                  <td>{{ i.created_by }}</td>
                  <td>{{ i.created_on }}</td>
                </tr>

                {% endfor %}

              {% endif %}
            </tbody>
          </table>

        </div>
    </div>
  </div>
</div>

<!-- Protocol other versions modal -->
<div class="modal fade" id="other_protocol_version_user_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
        <div class="modal-header">
          <h5 class="modal-title">Protocol Documents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Versions</th>
                <th>Uploaded By</th>
                <th>Uploaded On</th>
              </tr>
            </thead>
            <tbody>
              {% if protocol_doc_list %}

                {% for i in protocol_doc_list %}

                <tr>
                  <td><a class="link_grid" href="{% url 'download' i.protocol_document_location.path %}" target="_blank">{{ i.version_no }}</a></td>
                  <td>{{ i.created_by }}</td>
                  <td>{{ i.uploaded_on }}</td>
                </tr>

                {% endfor %}

              {% endif %}
            </tbody>
          </table>

        </div>
    </div>
  </div>
</div>

<!-- SAR other versions modal -->
<div class="modal fade" id="other_sar_version_user_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
        <div class="modal-header">
          <h5 class="modal-title">SAR Documents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Versions</th>
                <th>Uploaded By</th>
                <th>Uploaded On</th>
              </tr>
            </thead>
            <tbody>
              {% if sar_doc_list %}

                {% for i in sar_doc_list %}

                <tr>
                  <td><a class="link_grid" href="{% url 'download' i.sar_document_location.path %}" target="_blank">{{ i.version_no }}</a></td>
                  <td>{{ i.created_by }}</td>
                  <td>{{ i.uploaded_on }}</td>
                </tr>

                {% endfor %}

              {% endif %}
            </tbody>
          </table>

        </div>
    </div>
  </div>
</div>

<!-- Generated CSR other versions modal -->
<div class="modal fade" id="other_generated_csr_version_user_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
        <div class="modal-header">
          <h5 class="modal-title">Clinical Study Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Versions</th>
                <th>Generated By</th>
                <th>Generated On</th>
              </tr>
            </thead>
            <tbody>
              {% if csr_report_list %}

                {% for i in csr_report_list %}

                <tr>
                  <td><a class="link_grid" href="{% url 'download' i.generated_report_path %}" target="_blank">{{ i.version_no }}</a></td>
                  <td>{{ i.created_by }}</td>
                  <td>{{ i.created_on }}</td>
                </tr>

                {% endfor %}

              {% endif %}
            </tbody>
          </table>

        </div>
    </div>
  </div>
</div>


<!-- Confirm CSR generate -->
{% include 'confirm_generate_csr.html' %}

{% endblock %}