<pre>
Application : CSR Automation
Date	    : 29 Jan 2020
Prepare By  : Esub Beig
-------------------------------------------------------------
1) What are the Feature in the build?
	
	a) User Login (Admin).
	b) Admin can create the users.
	c) Admin can create the projects & assign the projects.
	d) Admin can upload the Global CSR, Sample Protocol & SAR(.docx format only).
	e) Admin can able to activate/deactive the users.
	f) Admin can download the Global CSR, Sample Protocol & SAR.
	g) User Login (Normal User).
	h) User can create the project.
	i) User can edit the project.
	j) User can view the global CSR mapping.
	k) User & Admin can search through projects.
	l) User can upload the custom CSR, Protocol & Sar(both .docx format only).
	m) User can download the protocol, Sar & Global CSR/Custom CSR & generated CSR report.
	n) User can generate the CSR as per global mapping table/custom mapping table.
	o) User can view the activity log & audit log.
	p) Admin can view the activity log & audit log.
	q) Admin can configure the Email Configurations.
	r) Admin can see the Email Logs.
	
</pre>