<form method="post" enctype="multipart/form-data" data-url="{% url 'upload_sar_admin' %}" class="admin_upload_sar_form">
	{% csrf_token %}

	<div class="modal-header">
    <h5 class="modal-title" id="upload_sar_admin_modalLabel">Upload SAR</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <!-- <div class="form_wrp"> -->
      <!-- to show error messages -->
        <p class="text-danger">{{ form.errors.sar_template_location | striptags }}</p>
        <!-- <small class="sml__hint">Please choose your Thearapeutic Area, Choose your file and Upload</small>
        <select name="therapeutic_area" class="input_cn" id="id_therapeutic_area" required>

          <option value="" disabled selected>Select Therapeutic Area</option>
          {% for ele in therapeutic_area_list %}
            <option value="{{ ele.id }}">{{ ele.therapeutic_area }}</option>
          {% endfor %}

        </select>
        <small class="text-danger">{{ form.errors.therapeutic_area | striptags }}</small>
    </div> -->

    <small class="sml__hint">Upload .docx file</small>
    <div class="upload__brdr">
      <div class="upload-btn-wrapper">
        <button class="btn__" id="dispaly_f_name">Choose File</button>
        <input type="file" name="sar_template_location" required id="id_sar_template_location" />
      </div>
    </div>

    <div class="form_wrp">
      <small class="sml__hint">Version</small>
      <label class="radio-inline"><input type="radio" name="version" value="0.1" checked><span>Minor</span></label>
      <label class="radio-inline"><input type="radio" name="version" value="1.0"><span>Major</span></label>
    </div>

    <small class="sml__hint">Write comments</small>
    <div class="form_wrp">      
      <input type="text" name="comments" maxlength="512" id="id_comments" class="input_cn" placeholder="comments">
      <small class="text-danger">{{ form.errors.comments | striptags }}</small>
    </div>

  </div>

  <div class="modal-footer">
     <button type="submit" class="frm_btn__">Upload SAR</button>  
  </div>

</form>
