<form class="assign_eprotocol_form" method="POST" data-url="{% url 'assign_eprotocol' protocol.id %}">
  {% csrf_token %}

  <div class="modal-header">
    <h5 class="modal-title" id="assign_eprotocol_modalLabel">{{ protocol.name }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <h6>Select Users</h6>
    <table class="table table-hover table-striped table-bordered">
    <!--   <table class="table users_td"> -->
      <thead>
        
      </thead>
      <tbody>
        {% for usr in users %}
        <tr>
          <td>
          {{ usr.username }}
          </td>
          <td>

          {% if usr.id in pre_assigned_user_ids_active %}
          <input type="checkbox" name="protocol_check_user" value="{{ usr.id }}" checked>
          {% else %}
          <input type="checkbox" name="protocol_check_user" value="{{ usr.id }}">
          {% endif %}

          </td>
        </tr>
          {% endfor %}
          
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <p class="text-danger assin_at_least" style="display: none;">Please select atleast one user</p>
    <input type="reset" class="btn btn-danger" value="Reset" />
    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
    <button type="submit" class="btn btn-primary">Assign eProject</button>
  </div>

</form>

